<div class="body">
   <!-- <header>
       <h1>Tienda de Productos</h1>
   </header> -->

   <main>
       <section class="search-bar">
           <input type="text" placeholder="Buscar productos por nombre..." id="search-input">
           <button type="button" id="search-button">Buscar</button>
       </section>

       <section class="filter-section">
           <h2>Filtrar por Categoría</h2>
           <ul class="filter-list">
               <li><button type="button" class="filter-button">Fruta</button></li>
               <li><button type="button" class="filter-button">Verdura</button></li>
               <li><button type="button" class="filter-button">Granos</button></li>
               <li><button type="button" class="filter-button">Insumos</button></li>
           </ul>
       </section>

       <section class="product-list">
           <div class="product-card">
               <img src="../../../../assets/imgs/cebolla.PNG" alt="Producto 1">
               <h3>Producto 1</h3>
               <p>Descripción breve del producto 1.</p>
               <p>Precio: $100</p>
               <button type="button">Añadir al carrito</button>
           </div>
           <div class="product-card">
            <img src="../../../../assets/imgs/papa.PNG" alt="Producto 1">
               <h3>Producto 2</h3>
               <p>Descripción breve del producto 2.</p>
               <p>Precio: $150</p>
               <button type="button">Añadir al carrito</button>
           </div>
           <div class="product-card">
            <img src="../../../../assets/imgs/yuca.PNG" alt="Producto 1">
               <h3>Producto 3</h3>
               <p>Descripción breve del producto 3.</p>
               <p>Precio: $50</p>
               <button type="button">Añadir al carrito</button>
           </div>
       </section>
   </main>
</div>