<div class="body">
   <!-- <header>
       <h1>Tienda de Productos</h1>
   </header> -->

   <main>
       <section class="search-bar">
           <input type="text" placeholder="Buscar productos por nombre..." id="search-input">
           <button type="button" id="search-button">Buscar</button>
       </section>

       <section class="filter-section">
           <h2>Filtrar por Categoría</h2>
           <ul class="filter-list">
               <li><button type="button" class="filter-button">Fruta</button></li>
               <li><button type="button" class="filter-button">Verdura</button></li>
               <li><button type="button" class="filter-button">Granos</button></li>
               <li><button type="button" class="filter-button">Insumos</button></li>
           </ul>
       </section>

       <section class="product-list">
           <app-product-list />
       </section>
   </main>
</div>