<div class="body">
   <div class="password-container">
       <div class="password-header">
           <h2>Cambiar Contraseña</h2>
       </div>
       <div class="password-details">
           <div class="password-row">
               <label for="current-password">Contraseña Actual *</label>
               <input type="password" id="current-password" required>
           </div>
           <div class="password-row">
               <label for="new-password">Nueva Contraseña *</label>
               <input type="password" id="new-password" required>
           </div>
           <div class="password-row">
               <label for="confirm-password">Confirmar Nueva Contraseña *</label>
               <input type="password" id="confirm-password" required>
           </div>
       </div>
       <div class="password-actions">
           <button class="btn update-password">Actualizar Contraseña</button>
       </div>
   </div>
</div>