<div class="body">
    <div class="password-container">
        <div class="password-header">
            <h2>Cambiar Contraseña</h2>
        </div>
        <form [formGroup]="applyForm" (submit)="onSubmit()" class="password-details">
            <div class="password-row">
                <label for="current-password">Contraseña Actual *</label>
                <input formControlName="actualPassword" type="password" id="current-password" required>
            </div>
            <div class="password-row">
                <label for="new-password">Nueva Contraseña *</label>
                <input formControlName="newPassword" type="password" id="new-password" required>
            </div>
            <div class="password-row">
                <label for="confirm-password">Confirmar Nueva Contraseña *</label>
                <input formControlName="newPasswordConf" type="password" id="confirm-password" required>
            </div>
            <div class="password-actions">
                <button type="submit" id="submit" class="primary btn update-password">Actualizar Contraseña</button>
            </div>
        </form>
    </div>
</div>

<div class="emcontainer" id="wrong-password">
    <div class="emcontent">
        <h1>Contraseña incorrecta</h1>
        <p>La contraseña actual no coincide</p>
        <div class="btn-cerrar">
            <button (click)="cerrarVentana()">Cerrar</button>
        </div>
    </div>
</div>

<div class="emcontainer" id="dispar-password">
    <div class="emcontent">
        <h1>Contraseña incorrecta</h1>
        <p>Las nuevas contraseñas no coinciden.</p>
        <p>Vuelva a intentarlo.</p>
        <div class="btn-cerrar">
            <button (click)="cerrarVentana()">Cerrar</button>
        </div>
    </div>
</div>