<div id="div-1">
    <div id="div-2">
        <h1>Inversionistas</h1>
        <h4>Siempre en busca de inspiración</h4>
        <p>Si eres una persona interesada en el campo agrícola y no cuentas con tierras para producir tus productos, aquí en Cosecha Local te ayudamos. Puedes conectar con otros agricultores que desean poner a producir sus tierras.</p>
    </div>
    <img src="../../../../assets/imgs/relleno1.webp" alt="" class="image">
    <div id="div-3">
        <h2>Nuestros Inversionistas</h2>
    </div>
</div>
<main class="investment-list">
    <div class="investment-card">
        <img src="imagen1.jpg" alt="Imagen 1" class="investment-image">
        <div class="investment-details">
            <h2>Proyecto de Inversion #1</h2>
            <p>Descripción breve del proyecto.</p>
            <button>Ver más</button>
        </div>
    </div>
    <div class="investment-card">
        <img src="imagen2.jpg" alt="Imagen 2" class="investment-image">
        <div class="investment-details">
            <h2>Proyecto de Inversion #2</h2>
            <p>Descripción breve del proyecto.</p>
            <button>Ver más</button>
        </div>
    </div>
    <!-- Más tarjetas -->
</main>