<div class="login">
   <div class="content-form">
       <div class="content-logo">
           <img src="../../../../assets/imgs/COSECHA LOCAL (1).png" alt="">
       </div>

       <form action="" class="form-container">
           <h1 class="title">Iniciar Sesión</h1>
           <div class="content-input">
               <input type="email" id="email" placeholder="Correo" required><br>
               <input type="password" id="password" placeholder="Contraseña" required><br>
           </div>
           <p class="text">No tienes cuenta? <a (click)="goToItems()">Registrarse</a></p>
           <div class="content-button">
               <button onclick="validate()">Iniciar Sesión</button>
           </div>
       </form>
   </div>
</div>