<!--
<nav id="menu">
  <ul>
   <li><a href="#">Enlace 1</a></li>
   <li><a href="#">Enlace 2</a>
    <ul>
      <li><a href="#">Enlace 2.1</a></li>
      <li><a href="#">Enlace 2.2</a></li>
      <li><a href="#">Enlace 2.3</a></li>
    </ul>
   </li>
   <li><a href="#">Enlace 3</a></li>
   <li><a href="#">Enlace 4</a></li>
   <li><a href="#">Enlace 5</a></li>
  </ul>
  </nav>
-->

<!--

<nav id="mine">
  <ul>
    <li> <a href=""><img src="../../assets/imgs/usericon.png" alt=""></a>
      <ul>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">LogOut</a></li>
      </ul>
    </li>
  </ul>
</nav>

-->

<form [formGroup]="applyForm" (submit)="onSubmit()">
  <h1 class="title">Iniciar Sesión</h1>
  <div class="content-input">
    <input type="text" id="nombre" formControlName="name" placeholder="Nombre" required /><br />
    <input type="number" id="latitude" formControlName="latitude" placeholder="Longitud" required /><br />
    <input type="number" id="longitude" formControlName="longitude" placeholder="Latitud"  /><br />
    <input type="text" id="description" formControlName="description" placeholder="descripcion"  /><br />
    <input type="text" id="image" formControlName="image" placeholder="imagen" /><br />
  </div>
  <div class="content-button">
    <button class="primary" type="submit">Ingresar</button>
  </div>
</form>

<div class="places">
  <div class="place" *ngFor="let place of places">
      <div class="image" [ngStyle]="{ backgroundImage: 'url('+place.image+')' }"></div>
      <div class="info">
          <h4>{{place.name}}</h4>
          <p>{{place.description}}</p>
          <p>Coordenadas: {{place.latitude}} / {{place.longitude}}</p>
          <button class="btn btn-outline-danger" (click)="onClickDelete(place)">Borrar</button>
      </div>
  </div>
</div>