<section id="product-list" class="">
    <h2>Lista de Productos Ofertados</h2>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th class="section">Precio</th>
                <th class="section">Inventario</th>
                <th class="section">categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos; let i = index;trackBy:trackBy">
                <td>{{ producto.nombre }}</td>
                <td class="section">${{ producto.precio }}</td>
                <td class="section">${{ producto.inventario }}</td>
                <td class="section">{{ producto.categoria }}</td>
                <td id="acciones">
                    <button [routerLink]="['/home/sell/edit-product/', producto.id]">Editar</button>
                    <button  (click)="eliminar(producto.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>