/* .section {
   display: inline-block;
}

.section.active {
   display: block;
} */

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

table, th, td {
   border: 1px solid #ccc;
}

th, td {
   padding: 10px;
   text-align: left;
}
#acciones{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
   gap: 10px;
}
button {
   padding: 10px 10px;
   background-color: #4CAF50;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-left: .5em;
}

button:hover {
   background-color: var(--green);
}

form label {
   display: block;
   margin: 10px 0 5px;
}

form input, form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 10px;
}

form button {
   width: 100%;
}


@media (max-width: 600px) {
   .section {
      display: none;
   }
   
}
