<section id="product-list" class="">
    <h2>Lista de Productos Ofertados</h2>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th class="section">Descripción</th>
                <th class="section">Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Producto 1</td>
                <td class="section">Descripción del producto 1</td>
                <td class="section">$100</td>
                <td id="acciones">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <!-- Más productos -->
        </tbody>
    </table>
</section>