<div class="signup">
   <div class="content-form">
       <div class="content-logo">
           <img src="../../../../assets/imgs/COSECHA LOCAL (1).png" alt="">
       </div>
       <form action="" class="form-container">
           <h1 class="title">Registrarse</h1>
           <div class="content-input">
               <input type="text" placeholder="Nombre de Usuario"><br>
               <input type="email" placeholder="Correo"><br>
               <input type="password" placeholder="Contraseña"><br>
           </div>
           <p class="text">Ya tienes cuenta? <a (click)="goToItems()">Iniciar Sesión</a></p>
           <div class="content-button">
               <button>Registrarse</button>
           </div>
       </form>
   </div>
</div>
